<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBt0faTTGQueiCLaLd5lKX2QzQ1_IctuhA</string>
	<key>GCM_SENDER_ID</key>
	<string>243672445547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.logicphile.pohpsnotes</string>
	<key>PROJECT_ID</key>
	<string>pohpsnotes</string>
	<key>STORAGE_BUCKET</key>
	<string>pohpsnotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243672445547:ios:2dec097499e6c2e0fd372e</string>
</dict>
</plist>